include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include CODE_OF_CONDUCT.md
include tox.ini

recursive-include requirements *.in
recursive-include requirements *.txt
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py

recursive-include build *.so
recursive-include src *.pyx

# added by check_manifest.py
include TODO
recursive-include tests *.1
recursive-include tests *.dll
recursive-include tests *.exe
recursive-include tests *.zip

# added by check_manifest.py
include .isort.cfg
recursive-include src *.py
recursive-include tests *.dat

# added by check_manifest.py
recursive-include src *.py
recursive-include tests *.dat
